body {
	margin:0px;
	font-size:0.8em;
	font-family: 'Raleway', sans-serif;	
	
}

h3 {
	margin:0px 0px 0px 0px;
}

ul {
	list-style:none;
	margin:0;
	padding-left:0px;
}

.form {
	display:flex;
	align-items:center;
	margin-top: 20px;

}

.rechercher i {
	background-color: #F2F2F2;
	display:flex;
	align-items:center;
	justify-content: center;
	width:25px;
	height:25px;
	border-radius:10px 0px 0px 10px;
}

.rechercher {
	display:flex;
}

.button {
	background-color:#0065FC ;
	color: white;
	font-weight:bold;
	height:100%;
	border: 2px #0065FC solid;
	border-radius: 0px 10px 10px 0px;
}

.recherche {
	font-weight:bold;
	border: 1px #F2F2F2 solid;
	
}

.filter{
	border: 2px #F2F2F2 solid;
	border-left: 0;
	border-radius: 50px;
	margin:10px;
	padding:0px 5px 0px 0px;
	display:flex;
}


i {
	margin:0px;
	padding:5px;
}

.info i {
	border: 2px #F2F2F2 solid;
	border-radius:50px;
	color:#0065FC;
	display:flex;
	align-items:center;
	justify-content: center;
	width:15px;
	height:15px;
}

.stars i {
	color:#0065FC;
	font-size:12px;
	padding:0px;
	margin:1px;
}

.filter i {
	background-color: #DEEBFF;
	border: 3px #DEEBFF solid;
	color:#0065FC;
	border-radius: 50px;
	margin-right: 5px;
	display:flex;
	align-items:center;
	justify-content: center;
	width:25px;
	height:25px;
}

.filter-list a {
	padding:5px;
	
}

.filter:hover {
	background-color: #DEEBFF;
	border:1px #0065FC solid;
}

.section-choix {
	background-color : #F2F2F2;
	border-radius: 10px;
	padding:10px;
	
}

.choix1 {
	box-shadow: 0px 0px 10px 10px #F2F2F2;
}

.choix3 {
	box-shadow: 1px 1px 10px 0em gray;
}


article {
	
	border-radius:20px;
	background-color: white;
	padding:5px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	margin: 10px 0px 10px 0px;
}


.ligne1, .ligne2 {
	display:flex;
	align-items:center;
	justify-content:space-around;
}

.textchoix1, .textchoix2, .textchoix3, .textchoix4, .textchoix5, .textchoix6 {
	padding:0px 10px 0px 10px;
	font-size:0.8;
	display:flex;
	flex-direction:column;
}
p {
	margin:4px;
}

.afficherplus {
	margin-top:auto;
}

strong{
	font-style:bold;
}


footer{
	background-color: #F2F2F2;
}



.section-recherche {
	padding:20px;
}

a:link {
	text-decoration:none;
}

a:visited {
	color:black;
}

a {
	color:black;
}

.fas.fa-star.grey {
	color:#F2F2F2;
}



.nav-list li:hover a{
	color:#0065FC;
}