body {
	margin:0px;
}

ul {
	padding:0px;
}

.section-choix {
	background-color : #F2F2F2;
	border-radius: 10px;
	padding:10px;
}

img {
	width:200px;
}

article {
	width:300px;
	border-radius:10px;
	background-color: white;
	padding:15px;
	margin: 10px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}

strong{
	color: #0065FC;
}

#bloc-page{
	font-family: 'Raleway', sans-serif;	
}

footer{
	background-color: #F2F2F2;
}

header {
	padding:20px;
}

.section-recherche {
	padding:20px;
}


h1
{
    font-size: 1.6em;
}

h2
{
    font-size: 1.4em;
}
h3
{
    font-size: 1.2em;
}

i {
	margin:5px;
}