#bloc-page {
	display: flex;
	
	flex-wrap:wrap;
}

.header {
	display:flex;
	flex-basis:100%;
	align-items: center;
}


.image {
	display:flex;
	
}

.header-nav {
	
	display:flex;
	height:100%;
	margin: 0px 10px 0px auto;
	width:30%;
	
} 

.nav-list {
	display:flex;
	flex-wrap:wrap;
	margin-top: 0px;
	align-content: center;
	width:100%;
} 

      
.nav-list li {
	display:flex;
	height:100%;
	width:50%;
	border-top: 3px white solid;	
}

.nav-list li a {
	display:flex;
	align-items:center;
	justify-content:center;
	height:100%;
	width:100%;
	padding:0px 10px 0px 10px;
}

.sign-up {
	display:flex;
	align-items:center;
	margin: 0px 20px 0px 10px;
	border-top: 3px white solid;
	padding-right:20px;
}

.section-recherche {
	display:flex;
	flex-direction: column;
	flex-basis:100%;
	justify-content: flex-start;
}

.info {
	display:flex;
	align-items:center;
}

.div-list {
	display:flex;
	align-items:baseline;
	font-weight:bold;
}

.filter-list {
	display:flex;
	flex-wrap:wrap;
	padding:0px;
}

li {
	
	align-items:baseline;
	
}

footer div ul li {
	padding:10px 0px;
}

.section-hebergement {
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
}


.section-choix {
	display:flex;
	flex-direction: column;
	flex-basis: 70%;
	margin:10px;
	flex:1 1;
	
}

.div-choix{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:center;
	padding:15px;
}


aside {
	display: flex;
	flex-direction:column;
	flex-basis: 30%;
	margin:10px;
	justify-content: space-around;
	padding:10px;
	background-color : #F2F2F2;
	border-radius: 10px;
	
}

.aside-title {
	display:flex;
	align-items: center;
}
.populaire{
	margin-left: auto;
}

.section-aside{
	display:flex;
	flex-direction: column;
	align-items: center;
	
}

.stars {
	display:flex;
}

.section-activites {
	display:flex;
	flex-direction: column;
	margin:15px;
	padding:15px;
}

.div-activites{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:center;
}


footer {
	display: flex;
	justify-content: space-around;
	flex-basis: 100%;
	margin-top: auto;
	align-items:center;
}

@media screen and (orientation: landscape) {
		.nav-list li:hover {
		border-top: 3px #0065FC solid;
	}
	
	.button {
		border-radius: 0px 10px 10px 0px;
	}
	.button i {
		display:none;
	}
}

@media screen and (orientation: portrait) {
	#section-choix {
		flex-basis:100%;
		margin:0px;
		order:2;
		border-radius:0px;
		background-color: white;
	}
	
	aside {
		flex-basis:100%;
		margin:0px;
		order:1;
		border-radius:0px;
		padding:10px;
	}
	
	body {
		color:red;
		margin:0px;
		padding:0px;
	}
	
	.header {
		flex-wrap:wrap;
	}
	
	.header-nav{
		flex-basis:100%;
		order:1;
		justify-content: center;
		height:70px;
		
	}
	
	.sign-up {
		margin-left:auto;
	}
	
	.nav-list{
		flex-basis: 100%;
		justify-content: space-around;
	}
	
	.nav-list li:hover {
		border-bottom: 3px #0065FC solid;
		border-top: 3px white solid;
	}
	
	.button {
		border-radius: 10px 10px 10px 10px;
	}
	.button span {
		display:none;
	}
	
	footer{
		flex-direction:column;
		align-items:baseline;
		padding:20px;
	}
}

.section-aside article {
	height: 30%;
}

.pop1, .pop2, .pop3{
	display:flex;
}

.pop1 img, .pop2 img, .pop3 img {
	width:40%;
	object-fit:cover;
	border-radius: 10px 0px 0px 10px;
}

.pop1text, .pop2text, .pop3text {
	display:flex;
	flex-direction:column;
	flex: 1 1;
}

