body {
	margin:0px;
	font-size:0.9em;
	font-family: 'Raleway', sans-serif;	
}

#bloc-page {
	display: flex;
	
	flex-wrap:wrap;
}

h3 {
	margin:0px 0px 0px 0px;
}

ul {
	list-style:none;
	margin:0;
	padding-left:0px;
}

i {
	margin:0px;
	padding:5px;
}

article {
	
	border-radius:20px;
	background-color: white;
	padding:5px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	margin: 10px 0px 10px 0px;
	box-shadow: 1px 1px 10px 0em #D3D3D3;
}

strong{
	font-style:bold;
}

footer{
	background-color: #F2F2F2;
	display: flex;
	flex-basis: 100%;
	margin-top: auto;
	padding: 20px 60px 20px 60px;
}

footer div {
	width:30%;
	margin-right:20px;
}

footer div ul li {
	padding:10px 0px;
}

li {
	align-items:baseline;
}

a {
	color:black;
}

a:link {
	text-decoration:none;
}

a:visited {
	color:black;
}

p {
	margin:4px;
}

.fas.fa-star.grey {
	color:#F2F2F2;
}

.header {
	display:flex;
	flex-basis:100%;
	align-items: center;
	
}


.imagelogo img{
	display:flex;
	width:120px;
	padding-top:20px;
	
}

.header-nav {
	
	display:flex;
	height:100%;
	margin: 0px 10px 0px auto;
	width:30%;
	
} 

.nav-list {
	display:flex;
	flex-wrap:wrap;
	margin-top: 0px;
	align-content: center;
	width:100%;
} 

      
.nav-list li {
	display:flex;
	height:100%;
	width:50%;
	border-top: 4px white solid;	
}

.nav-list li a {
	display:flex;
	align-items:center;
	justify-content:center;
	height:100%;
	width:100%;
	padding:0px 10px 0px 10px;
}

.sign-up {
	display:flex;
	align-items:center;
	margin: 0px 20px 0px 10px;
	border-top: 3px white solid;
	padding-right:20px;
	color:#0065FC;
}

.button {
	background-color:#0065FC ;
	color: white;
	font-weight:bold;
	height:100%;
	border: 2px #0065FC solid;
}

.section-recherche {
	display:flex;
	flex-direction: column;
	flex-basis:100%;
	justify-content: flex-start;
}

.info {
	display:flex;
	align-items:center;
}

.div-list {
	display:flex;
	align-items:baseline;
	font-weight:bold;
}

.filter-list {
	display:flex;
	flex-wrap:wrap;
	padding:0px;
}





.section-hebergement {
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
}


.section-choix {
	display:flex;
	flex-direction: column;
	flex-basis: 70%;
	flex:1 1;
	margin:15px;	
}

.titrechoix {
	padding:15px;
}

.div-choix{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}


.aside {
	display: flex;
	flex-direction:column;
	background-color : #F2F2F2;
}

.aside-title {
	display:flex;
	align-items: center;
	padding: 15px;
}
.populaire{
	margin-left: auto;
}

.section-aside{
	display:flex;
	flex-direction: column;
	align-items: center;
	height:100%;
	justify-content:space-evenly;
	padding:20px;
}

.stars {
	display:flex;
	margin-top:auto;
	margin-bottom:3px;
}

.section-activites {
	display:flex;
	flex-direction: column;
	margin:15px;
}

.div-activites{
	display:flex;
	justify-content:space-around;
	align-items:center;
}

.div-activites article{
	padding:0px;
}

.act1, .act2, .act3, .act4, .act5, .act6 {
	display:flex;
	flex-direction:column;
}

.act1 img, .act2 img, .act3 img, .act4 img, .act5 img, .act6 img {

	width:100%;
	object-fit:cover;
	border-radius:20px 20px 0px 0px;
	flex:1 1;
}

.acttext {
	padding:10px;
	height:30px;
}



@media screen and (orientation: landscape) {
		
	#bloc-page {
		padding: 0px 20px 0px 20px;
	}
	
	.nav-list li:hover {
		border-top: 4px #0065FC solid;
	}
	
	.button {
		border-radius: 0px 20px 20px 0px;
	}
	
	.button i {
		display:none;
	}
	.section-choix article {
		width:40%;
		height:50%;
		flex:1 1;
		margin:10px;
	}
	
	.section-choix img {
	
		height:130px;
		width:100%;
		object-fit:cover;
		border-radius: 20px 20px 0px 0px;
	}
	.aside {
		flex-basis: 30%;
		margin:15px;
		padding:10px;
		border-radius: 10px;
	}
	
	.ligne1, .ligne2 {
		display:flex;
		align-items:center;
		justify-content:space-evenly;
		flex-wrap:wrap;
		width:100%;
		padding:10px;
	}
	
	.div-activites {
		height:400px;
	}
	
	.lot {
		width:20%;
		height:100%;
		margin:15px;
		display:flex;
		flex-direction:column;
		justify-content:space-between;
	}
	
	.act1, .act4 {
		width:20%;
		height:100%;
	}
	
	.act1 a, .act4 a {
		height:100%;
	}
	
	.act1 img, .act4 img {
		height:90%;
	}
	
	.act2 {
		height:45%;
	}
	
	.act3 {
		height:35%;
	}
	
	.act5 {
		height:40%;
	}
	
	.act6 {
		height:50%;
	}
	
	.act1, .act2, .act3, .act4, .act5, .act6 {
		padding:0px;
		margin:0px;
		border-radius:20px;
		box-shadow: 0px 10px 20px 5px #F2F2F2;
	}
	
	.act2 a, .act3 a, .act5 a, .act6 a{
		height:100%;
	}
	
	.act2 img, .act3 img, .act5 img, .act6 img {
		height:80%;
	}
}

@media screen and (orientation: portrait) {
	#section-choix {
		flex-basis:100%;
		margin:0px;
		order:2;
		border-radius:0px;
		background-color: white;
	}
	
	aside {
		flex-basis:100%;
		margin:0px;
		order:1;
		border-radius:0px;
		padding:10px;
		
	}
	
	body {
		margin:0px;
		padding:0px;
	}
	
	#bloc-page {
		padding: 0px;
	}
	
	.header {
		flex-wrap:wrap;
	}
	
	.header-nav{
		flex-basis:100%;
		order:1;
		justify-content: center;
		height:70px;
		
	}
	
	.sign-up {
		margin-left:auto;
	}
	
	.nav-list{
		flex-basis: 100%;
		justify-content: space-around;
	}
	
	.nav-list li{
		border-bottom: 3px white solid;
	}
	
	.nav-list li:hover {
		border-bottom: 3px #0065FC solid;
	}
	
	.button {
		border-radius: 10px 10px 10px 10px;
	}
	.button span {
		display:none;
	}
	
	.div-list {
		flex-direction: column;
		margin-top:20px;
	}
	
	.div-choix {
		flex-direction:column;
	}
	
	.ligne1, .ligne2 {
		display:flex;
		align-items:center;
		justify-content:space-around;
		flex-wrap:wrap;
		flex-direction:column;
		width:100%;
		padding:10px;
	}
	.section-choix article {
		width:90%;
		height:200px;
		flex:1 1;
		margin:10px 0px 10px 0px;
		padding:10px;
	}
	
	.section-choix img {
	
		height:150px;
		width:100%;
		object-fit:cover;
		border-radius: 10px 10px 0px 0px;
	}
	
	.section-activites{
		width:100%;
	}
	
	.div-activites {
		flex-direction: column;
		align-items:center
}
	
	.act1, .act4, .lot {
		width:90%;
	}
	
	.act2, .act3, .act5, .act6, {
		width:100%;
	}
	
	.act1, .act2, .act3, .act4, .act5, .act6 {
		padding:0px;
		margin:10px 0px 10px 0px;
		border-radius:20px;
	}
	
	.act1 img, .act2 img, .act3 img, .act4 img, .act5 img, .act6 img{
		height:170px;
		width:100%;
	}
	
	footer{
		flex-direction:column;
		align-items:baseline;
		padding:20px;
	}
}


.pop1, .pop2, .pop3{
	display:flex;
	height:120px;
}

.pop1 img, .pop2 img, .pop3 img {
	width:30%;
	object-fit:cover;
	border-radius: 20px 0px 0px 20px;
}

.pop1text, .pop2text, .pop3text {
	
	flex: 1 1;
	padding:10px;
}

